<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsRestrictedWhileLocked</key>
	<array/>
	<key>NSBonjourServices</key>
	<array>
		<string>_nisample._tcp</string>
		<string>_nisample._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Wonder-Light.otf</string>
		<string>TorukscRegular-z8MA1.ttf</string>
		<string>TorukSC-Light.otf</string>
		<string>TorukSC-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>External Display</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
